<%- include ('partials/header') %>

<h1 class="text-primary">Welcome to Doggy</h1>
<form action="/doggy" method="POST">
    <label>ID</label>
    <input type="number" name="idadmin" required>
    <label>Password</label>
    <input type="password" name="pasw1" required>
    <label>Confirm password</label>
    <input type="password" name="pasw2" required>
    <input type="submit" value='login'>
</form>
<button><a href="/doggy/adregister">New user</a></button>
<button><a href="/doggy/retrieve">Forgot password?</a></button>

<%- include ('partials/footer') %>